/* index.html */

html,
body {
  min-width: 768px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: normal;
  color: #a0a0a0;
  font-weight: normal;
  font-family: PT Sans;
}

h1 {
  font-size: 24px;
  line-height: normal;
  color: #000000;
  font-weight: normal;
  font-family: PT Sans;
}

h2 {
  font-size: 21px;
  line-height: normal;
  color: #000000;
  font-weight: normal;
  font-family: PT Sans;
}

.main-header {
  width: 768px;
  margin: 0 auto;
  margin-bottom: 20px;
  /* Только для оформления сетки */
  min-height: 70px;
  outline: 3px solid blue;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation {
  padding: 0 5px 0 5px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.main-navigation_left {
  float: left;
  width: 150px;
  /* Только для оформления сетки */
  min-height: 70px;
  outline: 3px solid green;
}

.main-navigation_right {
  float: right;
  width: 150px;
  /* Только для оформления сетки */
  min-height: 70px;
  outline: 3px solid green;
}

section {
  width: 768px;
  margin: 0 auto;
  /* Только для оформления сетки */
  outline: 3px solid blue;
}

.features-photo {
  /* Только для оформления сетки */
  outline: 3px solid blue;
}

.features-left-title {
  float: left;
  width: 256px;
  min-height: 256px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.features-right-photo {
  float: right;
  width: 512px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.features-left-photo {
  float: left;
  width: 512px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.features-right-title {
  float: right;
  width: 256px;
  min-height: 256px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.features-icons {
  width: 758px;
  margin: 0 auto;
  /* Только для оформления сетки */
  outline: 3px solid green;
}

.features-icon {
  float: left;
  width: 230px;
  margin-right: 20px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.features-icon:last-child {
  float: right;
  width: 230px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.features-slogans {
  margin-bottom: 50px;
  /* Только для оформления сетки */
  outline: 3px solid green;
}

.features-item-slogan {
  float: left;
  width: 230px;
  margin-right: 25px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.features-item-slogan:last-child {
  float: right;
  width: 230px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.booking-block {
  display: inline-block;
  width: 450px;
  text-align: center;
  margin-left: 150px;
  margin-right: auto;
  background: rgba(237, 237, 237, 1);
  box-shadow: 3px 3px 5px #999999;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.features-map {
  float: left;
  width: 768px;
  height: 593px;
  margin: -150px auto -87px auto;
  /* Только для оформления сетки */
  outline: 3px solid green;
}

.container {
  width: 768px;
  margin: 0 auto;
}

.main-footer {
  float: left;
  width: 768px;
  margin: 30px auto 0 auto;
  /* Только для оформления сетки */
  outline: 3px solid blue;
}

.main-footer_index {
  display: inline-block;
  width: 768px;
  background: rgba(237, 237, 237, 0.9);
  /* Только для оформления сетки */
  outline: 3px solid blue;
}

.footer-title {
  float: left;
  width: 200px;
  margin-right: 20px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.footer-social {
  float: left;
  width: 200px;
  margin-right: 20px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.footer-copyright {
  float: right;
  width: 200px;
  margin-right: 20px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

/* hotels.html */

.booking-options {
  width: 768px;
  margin: 0 auto;
  /* Только для оформления сетки */
  outline: 3px solid blue;
}

.booking-options-comfort {
  float: left;
  width: 246px;
  margin-right: 15px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.booking-options-type {
  float: left;
  width: 246px;
  margin-right: 15px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.booking-options-price {
  float: right;
  width: 246px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.filter-container {
  width: 768px;
  margin: 0 auto;
  /* Только для оформления сетки */
  outline: 3px solid blue;
}

.filter-title {
  float: left;
  width: 246px;
  margin-right: 15px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.filter-items {
  float: left;
  width: 246px;
  margin-right: 15px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}

.filter-sorting {
  float: right;
  width: 246px;
  /* Только для оформления сетки */
  outline: 3px solid yellow;
}
